---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import type { Lang } from '../i18n/helpers';

interface Props {
  title: string;
  description: string;
  lang: Lang;
  pathTail: string;
  ogImage?: string;
}

const props = Astro.props;
---

<BaseLayout {...props}>
  <Header lang={props.lang} pathTail={props.pathTail} />
  <main class="max-w-content mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <slot />
  </main>
  <Footer lang={props.lang} />
</BaseLayout>
